* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 120px;
    flex-wrap: wrap;
    width: 1300px;
    height: auto;
    gap: 20px;
    margin: 80px;
}

.cart1,
.cart2,
.cart3,
.cart4,
.cart5,
.cart6,
.cart7,
.cart8,
.cart9,
.cart10 {
    width: 240px;
    background-size: 100% 100%;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

main .cart1 img,
main .cart2 img,
main .cart3 img,
main .cart4 img,
main .cart5 img,
main .cart6 img,
main .cart7 img,
main .cart8 img,
main .cart9 img,
main .cart10 img {
    transition: 1s;
    width: 90%;
    height: 90%;
    border-radius: 7px;
}

main .cart1 h1,
main .cart2 h1,
main .cart3 h1,
main .cart4 h1,
main .cart5 h1,
main .cart6 h1,
main .cart7 h1,
main .cart8 h1,
main .cart9 h1,
main .cart10 h1 {
    font-size: 20px;
    font-family: sans-serif;
    color: black;
    font-weight: 400;
    margin: 10px 0;
}

main .cart1 p,
main .cart2 p,
main .cart3 p,
main .cart4 p,
main .cart5 p,
main .cart6 p,
main .cart7 p,
main .cart8 p,
main .cart9 p,
main .cart10 p {
    font-size: 14px;
    font-family: sans-serif;
    margin-top: 10px;
    font-weight: 400;
}

.button {
    margin-top: 20px;
}

.button button {
    width: 200px;
    height: 30px;
    font-weight: 700;
    color: white;
    background: rgb(42, 5, 77);
    border-radius: 7px;
    border: none;
}

.button button:focus {
    background: silver;
    color: rgb(42, 5, 77);
    border: 1px solid rgb(42, 5, 77);
}

.cart1:hover {
    transform: translate(15px);
}

.cart2:hover {
    transform: translateY(30px);
}

.cart3:hover {
    transform: skew(2deg);
}


.cart4:hover {
    transform: scale(1.07);
}


.cart5:hover {
    transform: skew(-4deg);
}

.cart6:hover {
    transform: rotate(5deg);
}

.cart7:hover {
    transform: rotate(-5deg);
}

.cart8:hover {
    transform: scale(1.09);
}

.cart9:hover {
    transform: scale(1.05);
}

.cart10:hover {
    transform: translate(-20px);
}

.cart1,
.cart2,
.cart3,
.cart4,
.cart5,
.cart6,
.cart7,
.cart8,
.cart9,
.cart10 {
    background:whitesmoke;
}
main .cart1 img,
main .cart2 img,
main .cart3 img,
main .cart4 img,
main .cart5 img,
main .cart6 img,
main .cart7 img,
main .cart8 img,
main .cart9 img,
main .cart10 img:hover {
transform: scale(1.1);
}
